<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Simple_YouTube_Music_Player.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Simple_YouTube_Music_Player.Properties.Settings>
            <setting name="volume" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="SpectrumColor1" serializeAs="String">
                <value>SkyBlue</value>
            </setting>
            <setting name="SpectrumColor2" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="SpectrumMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SpectrumColor3" serializeAs="String">
                <value>Blue</value>
            </setting>
            <setting name="DiscordEnable" serializeAs="String">
                <value>True</value>
            </setting>
        </Simple_YouTube_Music_Player.Properties.Settings>
    </userSettings>
</configuration>